body {
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  width: 100dvw;
  height: 90dvh;
  justify-items: center;
  align-items: center;
  font-family: "carbona-variable", sans-serif;
  font-variation-settings: "MONO" 30, "slnt" 0, "wght" 600;
  background-color: #fecdd3;
  margin: 1rem;
}

.header {
  font-size: 3.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}

.scoreBoard {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
  justify-items: center;
  align-items: center;
  font-size: 5rem;
}

.board > div {
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
}

.row1Col2,
.row3Col2 {
  border-inline: 0.5rem solid;
}

.row2Col1,
.row2Col3 {
  border-block: 0.5rem solid;
}

.row2Col2 {
  border: 0.5rem solid;
}

.result {
  height: 3rem;
  font-size: 2rem;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  color: #fecdd3;
  background-color: #000000;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  width: 7rem;
  cursor: pointer;
}
